
<% if user_signed_in? %>
  <div id="friends">
    <h2>Friends</h2>
    <table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th scope="col"><strong>First name:</strong></th>
        <th scope="col"><strong>Email:</strong></th>
        <th scope="col"><strong>Phone:</strong></th>
        <th scope="col"><strong>Twitter:</strong></th>
        <th scope="col"><strong>User Id:</strong></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    <% @friends.each do |friend| %>
    <% if friend.user == current_user %>
    <tr>
      <%= render friend %>
        <td>
           <%= button_to "Destroy friend", friend, class: "btn btn-outline-danger btn-sm", method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } } %>
        </td>
      </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>

  <%= link_to "New friend", new_friend_path, class: "btn btn-secondary" %>
<% else %>
  <h1>Pączki</h1>
<% end %>